[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
coverage = "*"
flake8 = "*"
isort = "*"
django-stubs = "*"
mypy = "*"
factory-boy = "*"
djangorestframework-stubs = "*"


[packages]
django = "*"
django-filter = "*"
drf-yasg = "*"
djangorestframework = "*"
gunicorn = "*"

[requires]
python_version = "3.8.2"
